
# Playwright
node_modules/
screenshots/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.DS_Store
/utils/storybook/storybook-last-run.json
/utils/storybook/storybook-inventory.md
